<footer id="global-footer">
  <div class="primary-row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-sm-push-3">
          <!--LINKS CONTAINER-->
          <div class="links-block">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div id="parent" class="footer-link-block">
                  <div class="panel">
                    <div class="header">
                      <a href="http://www.google.com" class="page-link">Link Category Title</a>
                      <a href="#collapse_one" data-toggle="collapse" class="accordion-trigger btn-toggle">
                        <svg class="icon">
                          <use xlink:href="/static/imgs/icons/defs/svg/sprite.defs.svg#chevron-down"></use>
                        </svg>
                      </a>
                    </div>
                    <div id="collapse_one" role="menu" class="collapse accordion-target content-block">
                      <ul>
                        <li><a href="#">SubLink 1</a></li>
                        <li><a href="#">SubLink 2</a></li>
                        <li><a href="#">SubLink 3</a></li>
                        <li><a href="#">SubLink 4</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div id="parent" class="footer-link-block">
                  <div class="panel">
                    <div class="header">
                      <a href="http://www.google.com" class="page-link">Link Category Title</a>
                      <a href="#collapse_one" data-toggle="collapse" class="accordion-trigger btn-toggle">
                        <svg class="icon">
                          <use xlink:href="/static/imgs/icons/defs/svg/sprite.defs.svg#chevron-down"></use>
                        </svg>
                      </a>
                    </div>
                    <div id="collapse_one" role="menu" class="collapse accordion-target content-block">
                      <ul>
                        <li><a href="#">SubLink 1</a></li>
                        <li><a href="#">SubLink 2</a></li>
                        <li><a href="#">SubLink 3</a></li>
                        <li><a href="#">SubLink 4</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div id="parent" class="footer-link-block">
                  <div class="panel">
                    <div class="header">
                      <a href="http://www.google.com" class="page-link">Link Category Title</a>
                      <a href="#collapse_one" data-toggle="collapse" class="accordion-trigger btn-toggle">
                        <svg class="icon">
                          <use xlink:href="/static/imgs/icons/defs/svg/sprite.defs.svg#chevron-down"></use>
                        </svg>
                      </a>
                    </div>
                    <div id="collapse_one" role="menu" class="collapse accordion-target content-block">
                      <ul>
                        <li><a href="#">SubLink 1</a></li>
                        <li><a href="#">SubLink 2</a></li>
                        <li><a href="#">SubLink 3</a></li>
                        <li><a href="#">SubLink 4</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/END LINKS CONTAINER-->
        </div>
        <div class="col-xs-12 col-sm-3 col-sm-pull-9">
          <div class="footer-social-links">
            <p>Connect With Us</p>
            <ul class="social-links">
              <li>
                <a href="#" class="facebook">
                  <svg class="icon">
                    <use xlink:href="/static/imgs/icons/defs/svg/sprite.defs.svg#facebook"></use>
                  </svg>
                  <span class="sr-only">Facebook</span>
                </a>
              </li>
              <li>
                <a href="#" class="twitter">
                  <svg class="icon">
                    <use xlink:href="/static/imgs/icons/defs/svg/sprite.defs.svg#twitter"></use>
                  </svg>
                  <span class="sr-only">Twitter</span>
                </a>
              </li>
              <li>
                <a href="#" class="youtube">
                  <svg class="icon">
                    <use xlink:href="/static/imgs/icons/defs/svg/sprite.defs.svg#youtube"></use>
                  </svg>
                  <span class="sr-only">Youtube</span>
                </a>
              </li>
              <li>
                <a href="#" class="instagram">
                  <svg class="icon">
                    <use xlink:href="/static/imgs/icons/defs/svg/sprite.defs.svg#instagram"></use>
                  </svg>
                  <span class="sr-only">Instagram</span>
                </a>
              </li>
              <li>
                <a href="#" class="linkedin">
                  <svg class="icon">
                    <use xlink:href="/static/imgs/icons/defs/svg/sprite.defs.svg#linkedin"></use>
                  </svg>
                  <span class="sr-only">LinkedIn</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="privacy-links">
            <p>&copy; Company Name - 2017</p>
            <ul>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Privacy &amp; Cookies</a></li>
              <li><a href="#">Site Information</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
